/* BlueJ light modifications, Copyright (C) 2026 Prof. Ing. Raffaele Mele. Modified 2026-10-08. GNU GPLv2 with Classpath Exception; original notices retained. */
#include <windows.h>
1 ICON "../../bluej/icons/bluej-light.ico"
1 VERSIONINFO
FILEVERSION 5,5,2,0
PRODUCTVERSION 5,5,2,0
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904b0"
    BEGIN
      VALUE "CompanyName", "Prof. Ing. Raffaele Mele"
      VALUE "FileDescription", "BlueJ light - external JDK launcher"
      VALUE "FileVersion", "5.5.2"
      VALUE "ProductName", "BlueJ light"
      VALUE "ProductVersion", "5.5.2"
      VALUE "LegalCopyright", "\251 2026 - Prof. Ing. Raffaele Mele"
      VALUE "OriginalFilename", "BlueJ light.exe"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1200
  END
END
